@model IEnumerable<Multitenant.Models.GetDbViewModel>

@{
    ViewData["Title"] = "GetDBNamesList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Database Lists</h1>

<p>
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TempAutoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenantId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatabaseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalStorage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsProcessed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TempAutoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenantId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatabaseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalStorage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsProcessed)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
